<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light&v1' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Great Debate</title>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="homepage">
      <img class="center" src="/media/images/cleanlogo.gif" />
      <div id="homeleft">
          <p>
            <div id="social">
            </div>
          </p>
      </div> <!--homeleft-->

      <div id="homeright">
          <h1>Get Started</h1>
          <p>
            <div class="button">
              <a href="/create_campaign/">Create a Campaign</a>
            </div>
          </p>
            <p>
              <div class="button">
                <a href="/current_campaigns/">Current Campaigns</a>
              </div>
            </p>
          <p>
            <div class="button">
              <a href="/respond/">Post a Response</a>
            </div>
          </p>
      </div><!--homeright-->
    </div> <!--homepage-->
  </body>
</html>
