<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Great Debate</title>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Decision Maker Responses</h1>
    {% if responses %}
      {% for response in responses %}
        <h2 style="font-size: 15px;">
          <a href="{{ response.response_url }}" target="_blank">
            {{ response.decision_maker.name }} - 
            {{ response.decision_maker.title }}
          </a>
        </h2>
      {% endfor %}
    {% else %}
      <p>No Responses have yet been posted</p>
    {% endif %}
    
  </body>
</html>
