<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Wire+One&v1' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Create A Campaign</title>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.2.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.2.custom.css" />
    <script>
      $(function() {
       tag_hash = [];
       selected_tags = [];
   
       $( "#tags" ).autocomplete({
         source: function(term_obj,add) {  
         console.log(term_obj.term);
         $.getJSON("/campaign_lookup/?",term_obj,function(data) {
          console.log(data);
          var suggestions = [];
          $.each(data,function(i, val) {
            console.log(tag_hash[val.label]);
            if(selected_tags[val.id] != 1){ 
              suggestions.push(val.label);
              tag_hash[val.label] = val.id; 
            } 
          });
          console.log(suggestions);
          add(suggestions);
         })
         }
       });
     });
  
     function addTag() {
      name = $("#tags").attr('value');
      id = tag_hash[name];
      selected_tags[id] = 1;
      if ($('#default_campaign').length === 1) {
        $('#default_campaign').remove(); 
      }
      $("#selected_campaigns").append("<li>"+name+"</li>");
      $("#tags").attr("value","");
     }
  
    function verify_campaign_is_selected() {
      if ($('#selected_campaigns').length == 0 || $('#default_campaign').length == 1) {
        alert('Please Select a Campaign');
        return false;
      }
      add_campaigns_input();
      document.post_response_form.submit();
    }

     function add_campaigns_input() {
       list = new Array();
       for(var key in selected_tags) {
         if(selected_tags.hasOwnProperty(key)) {
          list.push(key);
        }
       }
       $("form[name=post_response_form]").append('<input type="hidden" name="campaign_ids" value="'+list.join()+'"/>')
     }
  
   </script>


  </head>

  <body>
    <div id="header"></div>
    <div id="container">
      <div id="logo">
        <a href="/"><img src="/media/images/greatdebate.gif" /></a>
      </div>
      <div id="sidebar">
      </div><!--sidebar-->
      <div id="body">
        <p>
          <h4>Post a Response</h4>
        </p>
        <p>
          <h4>Link a log</h4>
            This requires someone to be logged in to view this page so this section breaks the workflow outlined in post_a_response.jpg
        </p>
        <p>
          <h4>Response Information</h4>
          <form action="/postresponse/" method="POST" name="post_response_form">
            Response URL: <br /><input type="text" name="response_url" /> <br />
            Campaigns: <input id="tags" type="text" name="campaigns" /> <a href="javascript: addTag();">Add</a>
            <ul id="selected_campaigns" />
              <li id="default_campaign" style="color:red;">No Campaigns Selected</li>
            </ul>
          </form>
          <br /><br />
          <a href="javascript: verify_campaign_is_selected();">Post my Response</a>
        </p>
      </div><!--body-->

      <div id="footer"><a href="#">About Us</a> | <a href="#">Privacy</a> | <a href="#">Terms of Use</a> | <a href="#">Contact Us</a> | <a href="#">Help & Support</a> | <a href="#">Blog</a> </div>
    </div><!--container-->
  </body>
</html>
