html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-position:bottom;
  background-repeat: repeat-x;
  background-attachment:fixed;
  background-image: URL("/media/images/graygradient.gif");
  font-family: 'Terminal Dosis Light', arial, serif;
  color: #333;
  font-size: 62.5%;
}
 

img {
  border: 0;
  padding: 0;
  margin: 0;
}


img.center {
  display:block;
  margin: 0 auto;
}

h1 { 
   font-family: 'Terminal Dosis Light', arial, serif;
   }

h1 {
  font-family: 'Terminal Dosis Light', arial, serif;
  text-align: left; 
  font-size: 20px;
  color: #333;
}


h2 {
  font-family: 'Terminal Dosis Light', arial, serif; 
  text-align: center;
  vertical-align:top;
}


.ta {
  text-align: left;
}


h3 {
  font-family: 'Terminal Dosis Light', arial, serif;
  font-weight: normal;
  font-size: 2.0em;
  padding-top: 25px;
}


p {
  text-indent: 50px;
  line-height: 1.75;
}


.active_page h3{
  color: #333;
}


a {

  color: #666;

}



a:hover {

  color: #000;

}



.button a {

  text-decoration: none;

  color: #666;

}



.button a:hover {

  color: #333;

}



.button {

  display: block;

  margin: 20px auto;

  background-color: #BCD4D8;

  background: -moz-linear-gradient(top, #bcd4d8 0%, #9ec4c6 100%);

  background: -webkit-linear-gradient(top, #bcd4d8 0%,#9ec4c6 100%);

  font-size: 2.7em;

  color: #333;

  padding-top: 3px;

  padding-bottom: 2px;

  width: 170px;

  border: thin solid #666;

  border-radius: 5px;

  font-weight: bold;

}



#social {

  display: block;

  margin: 0 auto;

}



#social img {

  margin: 0 5px;

}



#homesearch {

  width: 450px;

  height: 25px;

  display: block;

  margin: 20px auto 50px;

}



#homepage {

  top: 200px;

  width: 800px;

  margin: 0 auto;

  position:relative;

  text-align: center;

}



#homeleft {

  width: 50%;

  float:left;

}



#homeright {

  width: 50%;

  float:left;

}



#sidebar a {

  text-decoration: none;

  color: #333;

}



#sidebar a:hover {

  color: #999;

}



#container {

  background-image: URL("/media/images/solidgraybg.gif");

  background-repeat: repeat-y;

  background-position: right;

  min-height: 100%;

  position: relative;

  width: 1024px;

  margin: 0 auto;

}



#header {

  position:absolute;

  top: 0px;

  z-index: -1px;

  background-image: URL("/media/images/lightbluebg.gif");

  height: 58px;

  width: 100%;

}



#logo {

  background-image: URL("/media/images/darkbluebg.gif");

  height: 58px;

  width: 1024px;

  margin: 0 auto;

  user-select: none;

}



#logo img {

  -moz-user-select: none;

   -khtml-user-select: none;

   user-select: none;

}



#sidebar {

  float: left;

  width: 200px;

  padding: 20px 0;

  text-align: center
  
  background color: white

}



#sidebar .tips {

  width: 150px;

  text-align: left;

  border: thin solid gray;

  margin: 50px auto 0;

  padding: 10px;

  font-size: 1.8em;

}



#body {

  margin-left: 200px;

  padding: 30px 50px 50px;

  text-align: justify;

  font-size: 2.1em;

}



#body img {

  padding: 0 5px;

}



#footer {

  position: absolute;

  text-align: center;

  height: 30px;

  width: 100%;

  bottom: 0;

  font-size: 1.6em;

}



.search {

  float: right;

  vertical-align: middle;

}



.search input{

  margin: 18px 0;

  width: 280px;

  height: 18px;

}



.align_left {

  float: left;

}



.align_right {

  float: right;

}



.align_center {

  display:block;

  margin: auto;

}



.take_action {

  position: relative;

}



.form_submit {

  font-size: 1.4em;

  padding: 20px;

  text-align: left;

}



.take_action .form_submit {

  background-color: white;

  border: thin solid gray;

  width: 400px;

  height: 200px;

  position: absolute;

  top: -20px;

  left: 75px;

  display: none;

}

  

a.take_action:hover .form_submit {

  display: block;

}



.campaign_title {

  font-family: Verdana, Geneva, sans-serif;

  font-variant: small-caps;

  font-weight:bold;

  font-size: 3.6em;

}



.campaign_details {

  margin-top: 10px;

  margin-bottom: 10px;

  padding: 10px;

  background-color: #ddd;

  font-size: .8em;

  line-height: 1.75;

}



.post_date, .post_creator, .post_tags, .post_dm {

  text-decoration: underline;

}



.col_left, .col_right{

  margin:5px;

  line-height: 20px;

  float:left;

}



.col_left {

  text-align: right;

  margin-left: 100px;

}

.col_left p {
  line-height: 1.95;
}



.col_right {

  text-align: left;

}
